* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
}

.row {
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
}


/* UTILITY */
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: calc(100% / 2);
}

.w-67 {
  width: calc((100% / 3) * 2);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-300 {
  height: 300px;
}

.h-655 {
  height: 655px;
}

.bg-lightblue {
  background-color: #F4F9FD;
}

.bg-blue {
  background-color: blue;
}

.bg-white {
  background-color: #ffffff;
}

.bg-yellow {
  background-color: yellow;
}

/* HEADER - FIXED MENU */
#fixed-menu {
  background-color: #F4F9FD;
}


/* HEADER - JUMBO */
section#jumbo {
  background-image: url('./img/jumbotron.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

/* MAIN - FREE-HUBSPOT */
#free-hubspot div.column.w-67.h-300 {
  padding-left: 0;
}
