* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475B;
}

/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
}

.row {
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
}


/* UTILITY */
.w-25 {
  width: calc(100% / 4);
}
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: calc(100% / 2);
}

.w-67 {
  width: calc((100% / 3) * 2);
}

.w-100 {
  width: 100%;
}

.h-50 {
  height: 50px;
}

.h-80 {
  height: 80px;
}

.h-100 {
  height: 100%;
}

.h-150 {
  height: 150px;
}

.h-300 {
  height: 300px;
}

.bg-lightblue {
  background-color: #F4F9FD;
}

.bg-blue {
  background-color: blue;
}

.bg-white {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.bg-yellow {
  background-color: yellow;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.border-b {
  border-bottom: 1px solid white;
}

.border-lr {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* BUTTONS */
.btn {
  border-radius: 5px;
  padding: 10px;
}

.btn-white {
  background-color: #ffffff;
  color: #FE775A;
  border: 1px solid #FE775A;
}

.btn-red {
  background-color: #FE775A;
  color: #ffffff;
  border: none;
}

.btn-red.big {
  font-size: 13px;
  padding: 20px 25px;
}

/* HEADER - FIXED MENU */
nav.fixed-menu {
  border-bottom: 2px solid #BFC6CA;
}

header nav {
  font-size: 14px;
}

header .fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F4F9FD;
  width: 100%;
  line-height: 80px;
}

header nav.fixed-menu i {
  padding-left: 5px;
}

header .fixed-menu span.language {
  border-right: 2px solid #BFC6CA;
  padding-right: 10px;
  margin-right: 10px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

header nav ul {
  float: right;
}

header nav ul li{
  margin-left: 20px;
}

header .fixed-menu ul li:first-child img{
  width: 15px;
  height: 15px;
}

/* HEADER - SECOND NAV */
header nav.menu {
  margin-top: 80px;
  line-height: 80px;
}

header nav.menu img {
  vertical-align: middle;
}

header nav.menu i {
  padding-left: 10px;
}

/* HEADER - JUMBO */
section#jumbo {
  background-image: url('./img/jumbotron.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#jumbo .jumbo-text {
  padding-top: 60px;
  padding-bottom: 248px;
}

#jumbo .jumbo-text h1 {
  font-size: 40px;
}

#jumbo .jumbo-text p {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 55px;
  line-height: 25px;
}

#jumbo .jumbo-text span {
  display: block;
  margin-top: 55px;
  font-size: 12px;
}

#jumbo {
  position: relative;
}

#jumbo .line {
  background-color: #AFEBE4;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  border-top: 3px solid #33475C;
  border-bottom: 3px solid #33475C;
}

/* MAIN - FREE-HUBSPOT */
#free-hubspot div.column.w-67.h-300 {
  padding-left: 0;
}

/* MAIN - HUBSPOT-COMMUNITY */
section#hubspot-community {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

#hubspot-community .column.mb-60 {
  position: relative;
}

section#hubspot-community .column > div.card.two {
  display: inline-block;
  position: absolute;
  top:0;
  left: 25%;
}

section#hubspot-community .column > div.card.three {
  display: inline-block;
  position: absolute;
  top:0;
  left: 50%;
}

section#hubspot-community .column > div.card.four {
  display: inline-block;
  position: absolute;
  top:0;
  left: 75%;
}

section#hubspot-community .column > div.card.five {
  display: inline-block;
  position: absolute;
  top: 150px;
  right: 0;
}

section#hubspot-community .column > div.card.six {
  display: inline-block;
  position: absolute;
  top: 150px;
  right: 25%;
}

section#hubspot-community .column > div.card.seven {
  display: inline-block;
  position: absolute;
  top: 150px;
  right: 50%;
}

footer {
  background-color: #32495B;
}
