* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475B;
}

/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
}

.row {
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
}


/* UTILITY */
.w-25 {
  width: calc(100% / 4);
}
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: calc(100% / 2);
}

.w-55 {
  width: 55%;
}

.w-67 {
  width: calc((100% / 3) * 2);
}

.w-100 {
  width: 100%;
}

.h-50 {
  height: 50px;
}

.h-80 {
  height: 80px;
}

.h-100 {
  height: 100%;
}

.h-150 {
  height: 150px;
}

.h-300 {
  height: 300px;
}

.bg-lightblue {
  background-color: #F4F9FD;
}

.bg-blue {
  background-color: blue;
}

.bg-white {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.bg-yellow {
  background-color: yellow;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.border-b {
  border-bottom: 1px solid white;
}

.border-r {
  border-right: 1px solid white;
}
/* BUTTONS */
.btn {
  border-radius: 5px;
  padding: 10px;
}

.btn-white {
  background-color: #ffffff;
  color: #FE775A;
  border: 1px solid #FE775A;
}

.btn-red {
  background-color: #FE775A;
  color: #ffffff;
  border: none;
}

.btn-red.big {
  font-size: 13px;
  padding: 20px 40px;
}

/* TYPOGRAPHY */
.p-font {
  font-size: 13px;
  line-height: 25px;
}

.pf-font {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* HEADER - FIXED MENU */
nav.fixed-menu {
  border-bottom: 2px solid #BFC6CA;
}

header nav {
  font-size: 14px;
}

header .fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F4F9FD;
  width: 100%;
  line-height: 80px;
}

header .fixed-menu ul.left-list span {
  padding-left: 5px;
  border-right: 2px solid #BFC6CA;
  margin-right: 5px;
}

header .fixed-menu i.fas.fa-chevron-down {
  padding: 0 15px 0 5px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #33475B;
}

header nav ul.right-list, nav ul.ml-20 {
  float: right;
}

header nav ul.ml-20 li{
  margin-left: 20px;
}

header .fixed-menu ul.ml-20 li:first-child i{
  color: #29B3C7;
}

/* HEADER - SECOND NAV */
header nav.menu {
  margin-top: 80px;
  line-height: 80px;
}

header nav.menu img {
  vertical-align: middle;
}

header nav.menu i {
  padding-left: 10px;
}

/* HEADER - JUMBO */
section#jumbo {
  background-image: url('./img/jumbotron.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#jumbo .jumbo-text {
  padding-top: 60px;
  padding-bottom: 248px;
}

#jumbo .jumbo-text h1 {
  font-size: 40px;
}

#jumbo .jumbo-text p {
  margin-bottom: 55px;
}

#jumbo .jumbo-text span {
  display: block;
  margin-top: 55px;
  font-size: 12px;
}

#jumbo {
  position: relative;
}

#jumbo .row.line {
  margin: 0;
}

#jumbo .column.line {
  padding: 0;
  background-color: #AFEBE4;
  height: 12%;
  position: absolute;
  bottom: 0;
  border-top: 3px solid #33475C;
  border-bottom: 3px solid #33475C;
}

/* MAIN - SLOGAN */
#slogan {
  text-align: center;
}

#slogan .content {
  padding: 40px 155px;
}

#slogan img {
  width: 30%;
}

/* MAIN - FREE-HUBSPOT */
#free-hubspot .container.bg-white .content {
  padding: 50px 0;
}

#free-hubspot .column.w-33 {
  text-align: center;
}

#free-hubspot .column.w-33 .content img {
  width: 45%;
}

#free-hubspot .column.w-33 .content a {
  display: inline-block;
  margin: 10px 0;
}

#free-hubspot .column.w-55 {
  padding-left: 0;
}

#free-hubspot .column.w-55 .content p {
  margin-top: 30px;
  margin-bottom: 25px;
}

#free-hubspot .column.w-55 .content span.pf-font {
  vertical-align: middle;
}

#free-hubspot .column.w-55 .content hr {
  display: inline-block;
  width: 66%;
  vertical-align: middle;
  margin-left: 52px;
}

#free-hubspot .column.w-55 .content ul {
  margin-top: 25px;
}

#free-hubspot .column.w-55 .content ul li {
  display: inline-block;
}


#free-hubspot .column.w-55 ul li i {
  margin-right: 7px;
  color: #FE775A;
}

/* MAIN - HUB-TYPES */
#hub-types .content {
  text-align: center;
  padding: 20px 40px;
}

#hub-types .content img {
  height: 80px;
}

#hub-types .content h3 {
  margin: 10px 0;
}

#hub-types .content p {
  margin-top: 20px;
  margin-bottom: 40px;
}

#hub-types .content hr {
  border: 1px solid #A6AEB1;
  margin-bottom: 30px;
}

#hub-types .content ul {
  list-style: none;
  text-align: left;
  font-size: 13px;
  margin: 20px 0;
}

#hub-types .content ul i {
  margin-right: 7px;
  color: #FE775A;
}

#hub-types .content a {
  display: inline-block;
  margin-top: 10px;
}

/* MAIN - HUBSPOT-COMMUNITY */
#hubspot-community .content {
  text-align: center;
  color: #ffffff;
}

#hubspot-community .content.text {
  padding: 40px 0;
}

#hubspot-community .content.text h2 {
  font-size: 27px;
  margin-bottom: 20px;
}

#hubspot-community .no-space {
  font-size: 0;
}

#hubspot-community {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

#hubspot-community .card {
  display: inline-block;
}

/* FOOTER */
footer {
  background-color: #32495B;
}
